### Importing the libraries

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

### Importing the dataset

In [9]:
dataset = pd.read_csv('datasetfake2.csv')

In [10]:
dataset.head()

,category,rating,review,result
0,Home_and_Kitchen_5,5,"Love this! Well made, sturdy, and very comfor...",CG
1,Home_and_Kitchen_5,5,"love it, a great upgrade from the original. I...",CG
2,Home_and_Kitchen_5,5,This pillow saved my back. I love the look and...,CG
3,Home_and_Kitchen_5,1,"Missing information on how to use it, but it i...",CG
4,Home_and_Kitchen_5,5,Very nice set. Good quality. We have had the s...,CG

In [11]:
dataset.tail()

,category,rating,review,result
33887,Toys_and_Games_5,5,If you have a young child they will love this ...,OR
33888,Toys_and_Games_5,5,"Purchased this for my wonderful grandson, who ...",OR
33889,Toys_and_Games_5,5,A happy customer in Hawaii! I bought these fo...,OR
33890,Toys_and_Games_5,5,"Classic, doesn;t get better the an oldschool t...",OR
33891,Toys_and_Games_5,5,"Great quality, educational, colorful. My 2 ye...",OR

### Extracting the required feature

In [12]:
ds = dataset[['review','result']]
ds.loc[ds['result'] == 'CG', 'result'] = 0
ds.loc[ds['result'] == 'OR', 'result'] = 1
ds

## "0" -> fake review
## "1" -> original review

C:\Users\RAJAT\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\RAJAT\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

                                                  review result
0      Love this!  Well made, sturdy, and very comfor...      0
1      love it, a great upgrade from the original.  I...      0
2      This pillow saved my back. I love the look and...      0
3      Missing information on how to use it, but it i...      0
4      Very nice set. Good quality. We have had the s...      0
...                                                  ...    ...
33887  If you have a young child they will love this ...      1
33888  Purchased this for my wonderful grandson, who ...      1
33889  A happy customer in Hawaii!  I bought these fo...      1
33890  Classic, doesn;t get better the an oldschool t...      1
33891  Great quality, educational, colorful.  My 2 ye...      1

[33892 rows x 2 columns]

In [13]:
dataset['review'][5]

'I WANTED DIFFERENT FLAVORS BUT THEY ARE NOT.'

### Cleaning the text

In [14]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
for i in range(0, 33892):
  review = re.sub('[^a-zA-Z]', ' ', dataset['review'][i])
  review = review.lower()
  review = review.split()
  ps = PorterStemmer()
  all_stopwords = stopwords.words('english')
  all_stopwords.remove('not')
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RAJAT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Creating the Bag of Words model

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
#cv = CountVectorizer(max_features=26091)
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, -1].values

In [16]:
print((corpus[5])) #I WANTED DIFFERENT FLAVORS BUT THEY ARE NOT.

want differ flavor not

### Splitting the dataset into the Training set and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

### Training the Naive Bayes model on the Training set

In [18]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

### Predicting the Test set results

In [12]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[['OR' 'OR']
 ['CG' 'CG']
 ['CG' 'CG']
 ...
 ['OR' 'OR']
 ['OR' 'OR']
 ['OR' 'OR']]

### Making the Confusion Matrix

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2865  463]
 [1490 1961]]

0.7119044106800413

### Exporting the model

In [19]:
#pickle.dump(classifier,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))

In [25]:
#message = "bad bad bad the functioning is awful, keyboard makes a lot of noise"
message = "good"
data = [message]
vect = cv.transform(data).toarray()
pred = model.predict(vect)
#classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape))\
if(pred[0] == "CG"):
    print("Computer Generated")
else:
    print("Original")

negative and Computer Generated